.loginsignup{
    width: 100%;
    height: 90vh;
    background: rgb(243, 239, 239);
    padding-top: 100px;
}
.loginsignup-container{
    width: 580px;
    height: 600px;
    background: rgb(249, 248, 248);
    margin: auto;
    margin-bottom: 10px;
    padding: 40px 60px;
}
.loginsignup-container h1{
    margin:20px 0px ;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
}
.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #dad4d4;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;

}
.loginsignup-container button{
    width: 600px;
    height: 75px;
    color: white;
    background: rgb(242, 151, 151);
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    
}
.loginsignup-login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: #bd9e9e;
    font-weight: 600;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #a47777;
    font-size: 20px;
    font-weight: 500;
}