.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0  1px 3px -2px black;
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    font-size: 38px;
    color: black;
    font-weight: 600;
}
.nav-menu{
    display: flex;
    align-items: center;
    color: #000101;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}
.nav-menu hr{
    border: none;
    width: 80%;
    height: 3px;
    background-color: #b53d3d; 
    border-radius: 10px;
}
.nav-login-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}
.nav-login-cart button{
    width: 157px;
    height: 58px;
    outline: none;
    border: 1px solid #000101;
    border-radius: 75px;
    color: #000101;
    font-size: 20px;
    font-weight: 500;
    background:white;
    cursor: pointer;

}
.nav-login-cart button:active{
    color: aqua;
    background-color: #ce5151;
}
.nav-cart-count{
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 15px;
    background: red;
    color: white;
}